#bottom {
  width: 60vw;
  height: 50vw;
	position: fixed;
	margin-top: 0; left: 22vw;
  background-image: url("livingRoom.jpg");
  background-size: 60vw;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: grayscale(100%);  
}
	
#back {
  
  
  
}

#phone {
 	width: 19vw;
 	height: 34vw;
 	position: fixed;
  left: 27vw; top: 1.25vw;
  /*
 	margin-top: 1em; margin-left: 25em;
  */
 	background-color: rgb(38, 38, 46);
 	background-image: url("metalBack.jpg");
 	background-position: center;
 	border-radius: 15px;
}
/*
#phone2 {
 	width: 19vw;
  height: 34vw;
 	position: fixed;
  left: 27vw; top: 30vw;
 	background-color: rgb(38, 38, 46);
 	background: linear-gradient( black, white);
 	background-position: center;
  border-radius: 15px;
}*/

#phoneDisplay { /* display time, signal, battery */
 	width: 19vw;
 	height: 2vw;
 	position: fixed;
  left: 27vw; top: 1.25vw;
 	background-color: rgb(0, 38, 46);
 	background-image: url("metalBack.jpg");
 	background-position: center;
 	border-radius: 15px;
}

.selection {
  width: 7vw;
  height: 7vw;
  background-color: black;
  box-shadow: 0px 0px 20px black;
  border-radius: 7vw;
}

#temprature { 
  
  position: absolute;
  left: 6vw; top: 9vw;
  
}

#light {
  background-image: url("brightnessControl.png");
  background-position: center;
  background-size: 70%;
  background-repeat:  no-repeat;
  position: absolute;
  left: 6vw; top: 17vw;
}

#curtain { 
  
  position: absolute;
  left: 6vw; top: 25vw;
  
}
div.selection:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 13vw;
  height: 13vw;
  /*background-color: rgb(0, 0, 0);*/
  position: relative;
  top: 2vw; left: -1vw;
  border: 2vw solid white;
  box-shadow: 0px 0px 20px black;
  border-radius: 15vw;
}

.wheel {
 	width: 15vw;
  height: 15vw;
 	/*background-color: rgb(0, 0, 0);*/
 	position: relative;
 	top: 5vw; left: 0vw;
 	border: 2vw solid white;
  box-shadow: 0px 0px 20px black;
 	border-radius: 15vw;
}

h1 {
 	position: relative;
  color : red;
  text-align: center;
  text-decoration: line-through;
  text-indent: 200px;
  font-size: 200px;

}